body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    border: solid 1px #5f9341;
    width: 100%;
    padding: 10px;
    margin-bottom: 4px;
    box-sizing: border-box;
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

ul{
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
li{
    margin-top:5px
}
li a{
    color: #5f9341;
}